<script src="js/changepassword.js"></script>
<br>
    <div class="container">
        <h3>Change Password</h3>
        <hr/>
        <div class="row">
            <div class="col-sm-4">
                <form id="formPassword" method="post">
                    <label>Current Password</label>
                    <input type="password" class="form-control" id="txtCurrentPassword" placeholder="Current Password"><br>
                    <label>New Password</label>
                    <input type="password" class="form-control" id="txtNewPassword" placeholder="Enter New Password" pattern=".{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br>
                    <label>Retype Password</label>
                    <input type="password" class="form-control" id="txtRetypePassword" placeholder="Retype New Password"><br>
                    <span id="msgLogin"></span><br>
                    <button type="submit" class="btn btn-primary btm-lg" id="btnSubmit">Save & Change Password</button>

                </form>
            </div>   
        </div>
    </div>